# How to work with pp_network.py

*pp_network.py* has a class called *net_model* that handles the whole network side of our simulation. The network state object includes a pandapower object called *net* as well as methods to implement actions, calculate the reward, and run simulations on *net*.

Another matpower note: net.line has an attribute 'in_service' so it should be easy for us to simulate a fallen line

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pandapower as pp
import pandapower.networks
import pandapower.plotting
import pp_network
from pp_network import *

## Initialize network

Options to initialize: 'case5','case9','case14','rural_1','rural_2','village_1','village_2','suburb_1','iceland',etc... Basically pick anything from https://pandapower.readthedocs.io/en/v1.6.0/networks.html

In [4]:
network_model = NetModel(network_name='rural_1', zero_out_gen_shunt_storage=True)

In [5]:
print('Number of load buses: ',network_model.net.load.shape[0])
print('Which buses are they on: ',network_model.net.load.bus.values)

Number of load buses:  14
Which buses are they on:  [ 3  8  9 10 11 19 20 21 22 23 24 25  7 13]

In [6]:
network_model.net.sgen

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>bus</th>
      <th>p_kw</th>
      <th>q_kvar</th>
      <th>sn_kva</th>
      <th>scaling</th>
      <th>in_service</th>
      <th>type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>None</td>
      <td>8</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
      <td>1.0</td>
      <td>True</td>
      <td>None</td>
    </tr>
    <tr>
      <th>1</th>
      <td>None</td>
      <td>9</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
      <td>1.0</td>
      <td>True</td>
      <td>None</td>
    </tr>
    <tr>
      <th>2</th>
      <td>None</td>
      <td>11</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
      <td>1.0</td>
      <td>True</td>
      <td>None</td>
    </tr>
    <tr>
      <th>3</th>
      <td>None</td>
      <td>22</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
      <td>1.0</td>
      <td>True</td>
      <td>None</td>
    </tr>
    <tr>
      <th>4</th>
      <td>None</td>
      <td>23</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
      <td>1.0</td>
      <td>True</td>
      <td>None</td>
    </tr>
  </tbody>
</table>
</div>

### Look at powerflows to begin with:

In [7]:
network_model.run_powerflow()

numba cannot be imported and numba functions are disabled.
Probably the execution is slow.
Please install numba to gain a massive speedup.
(or if you prefer slow execution, set the flag numba=False to avoid this warning!)

In [8]:
network_model.net.res_bus

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>vm_pu</th>
      <th>va_degree</th>
      <th>p_kw</th>
      <th>q_kvar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1.000000</td>
      <td>0.000000</td>
      <td>-78.80322</td>
      <td>-1.780376</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.995039</td>
      <td>-1.090849</td>
      <td>0.00000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.993303</td>
      <td>-1.129337</td>
      <td>0.00000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.992705</td>
      <td>-1.133796</td>
      <td>5.10000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.990056</td>
      <td>-1.200407</td>
      <td>0.00000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0.985967</td>
      <td>-1.291037</td>
      <td>0.00000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0.982775</td>
      <td>-1.362257</td>
      <td>0.00000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>0.980482</td>
      <td>-1.413681</td>
      <td>7.90000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>0.989456</td>
      <td>-1.204895</td>
      <td>5.10000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>0.985365</td>
      <td>-1.295563</td>
      <td>5.10000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>0.982171</td>
      <td>-1.366812</td>
      <td>5.10000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>0.979876</td>
      <td>-1.418257</td>
      <td>5.10000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>0.991120</td>
      <td>-1.177043</td>
      <td>0.00000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>0.987658</td>
      <td>-1.253721</td>
      <td>7.90000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>14</th>
      <td>0.985361</td>
      <td>-1.304816</td>
      <td>0.00000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>15</th>
      <td>0.983523</td>
      <td>-1.345863</td>
      <td>0.00000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>16</th>
      <td>0.982144</td>
      <td>-1.376749</td>
      <td>0.00000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>17</th>
      <td>0.981149</td>
      <td>-1.397388</td>
      <td>0.00000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>18</th>
      <td>0.980651</td>
      <td>-1.407722</td>
      <td>0.00000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>19</th>
      <td>0.990521</td>
      <td>-1.181522</td>
      <td>5.10000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>20</th>
      <td>0.987057</td>
      <td>-1.258232</td>
      <td>5.10000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>21</th>
      <td>0.984759</td>
      <td>-1.309347</td>
      <td>5.10000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>22</th>
      <td>0.982919</td>
      <td>-1.350411</td>
      <td>5.10000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>23</th>
      <td>0.981539</td>
      <td>-1.381310</td>
      <td>5.10000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>24</th>
      <td>0.980543</td>
      <td>-1.401958</td>
      <td>5.10000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>25</th>
      <td>0.980046</td>
      <td>-1.412297</td>
      <td>5.10000</td>
      <td>0.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [9]:
network_model.net.res_line

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>p_from_kw</th>
      <th>q_from_kvar</th>
      <th>p_to_kw</th>
      <th>q_to_kvar</th>
      <th>pl_kw</th>
      <th>ql_kvar</th>
      <th>i_from_ka</th>
      <th>i_to_ka</th>
      <th>i_ka</th>
      <th>loading_percent</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>5.111992</td>
      <td>0.000155</td>
      <td>-5.103071</td>
      <td>-9.521132e-05</td>
      <td>0.008921</td>
      <td>0.000060</td>
      <td>0.007415</td>
      <td>0.007415</td>
      <td>0.007415</td>
      <td>2.746411</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5.103071</td>
      <td>0.000095</td>
      <td>-5.100000</td>
      <td>-2.283533e-12</td>
      <td>0.003071</td>
      <td>0.000095</td>
      <td>0.007415</td>
      <td>0.007415</td>
      <td>0.007415</td>
      <td>5.222050</td>
    </tr>
    <tr>
      <th>2</th>
      <td>28.641596</td>
      <td>0.120211</td>
      <td>-28.498339</td>
      <td>-6.683071e-02</td>
      <td>0.143257</td>
      <td>0.053380</td>
      <td>0.041547</td>
      <td>0.041547</td>
      <td>0.041547</td>
      <td>15.387799</td>
    </tr>
    <tr>
      <th>3</th>
      <td>23.395247</td>
      <td>0.066731</td>
      <td>-23.298701</td>
      <td>-3.130114e-02</td>
      <td>0.096546</td>
      <td>0.035430</td>
      <td>0.034107</td>
      <td>0.034107</td>
      <td>0.034107</td>
      <td>12.632382</td>
    </tr>
    <tr>
      <th>4</th>
      <td>18.195584</td>
      <td>0.031196</td>
      <td>-18.136699</td>
      <td>-1.023829e-02</td>
      <td>0.058885</td>
      <td>0.020957</td>
      <td>0.026637</td>
      <td>0.026637</td>
      <td>0.026637</td>
      <td>9.865516</td>
    </tr>
    <tr>
      <th>5</th>
      <td>13.033562</td>
      <td>0.010128</td>
      <td>-13.003152</td>
      <td>-1.134231e-04</td>
      <td>0.030410</td>
      <td>0.010015</td>
      <td>0.019142</td>
      <td>0.019142</td>
      <td>0.019142</td>
      <td>7.089650</td>
    </tr>
    <tr>
      <th>6</th>
      <td>5.103091</td>
      <td>0.000100</td>
      <td>-5.100000</td>
      <td>-5.377196e-12</td>
      <td>0.003091</td>
      <td>0.000100</td>
      <td>0.007440</td>
      <td>0.007440</td>
      <td>0.007440</td>
      <td>5.239195</td>
    </tr>
    <tr>
      <th>7</th>
      <td>5.103117</td>
      <td>0.000106</td>
      <td>-5.100000</td>
      <td>-1.019192e-11</td>
      <td>0.003117</td>
      <td>0.000106</td>
      <td>0.007471</td>
      <td>0.007471</td>
      <td>0.007471</td>
      <td>5.260949</td>
    </tr>
    <tr>
      <th>8</th>
      <td>5.103137</td>
      <td>0.000110</td>
      <td>-5.100000</td>
      <td>-1.612224e-11</td>
      <td>0.003137</td>
      <td>0.000110</td>
      <td>0.007495</td>
      <td>0.007495</td>
      <td>0.007495</td>
      <td>5.278058</td>
    </tr>
    <tr>
      <th>9</th>
      <td>5.103152</td>
      <td>0.000113</td>
      <td>-5.100000</td>
      <td>-2.119764e-11</td>
      <td>0.003152</td>
      <td>0.000113</td>
      <td>0.007512</td>
      <td>0.007512</td>
      <td>0.007512</td>
      <td>5.290419</td>
    </tr>
    <tr>
      <th>10</th>
      <td>44.062897</td>
      <td>0.163912</td>
      <td>-43.889547</td>
      <td>-9.811871e-02</td>
      <td>0.173350</td>
      <td>0.065793</td>
      <td>0.063917</td>
      <td>0.063917</td>
      <td>0.063917</td>
      <td>23.672899</td>
    </tr>
    <tr>
      <th>11</th>
      <td>38.786462</td>
      <td>0.098020</td>
      <td>-38.651079</td>
      <td>-4.682349e-02</td>
      <td>0.135383</td>
      <td>0.051197</td>
      <td>0.056485</td>
      <td>0.056485</td>
      <td>0.056485</td>
      <td>20.920441</td>
    </tr>
    <tr>
      <th>12</th>
      <td>25.647973</td>
      <td>0.046720</td>
      <td>-25.588359</td>
      <td>-2.466014e-02</td>
      <td>0.059614</td>
      <td>0.022060</td>
      <td>0.037482</td>
      <td>0.037482</td>
      <td>0.037482</td>
      <td>13.882340</td>
    </tr>
    <tr>
      <th>13</th>
      <td>20.485238</td>
      <td>0.024554</td>
      <td>-20.447031</td>
      <td>-1.072323e-02</td>
      <td>0.038207</td>
      <td>0.013830</td>
      <td>0.030007</td>
      <td>0.030007</td>
      <td>0.030007</td>
      <td>11.113770</td>
    </tr>
    <tr>
      <th>14</th>
      <td>15.343898</td>
      <td>0.010614</td>
      <td>-15.322383</td>
      <td>-3.200644e-03</td>
      <td>0.021516</td>
      <td>0.007414</td>
      <td>0.022518</td>
      <td>0.022518</td>
      <td>0.022518</td>
      <td>8.340016</td>
    </tr>
    <tr>
      <th>15</th>
      <td>10.219241</td>
      <td>0.003090</td>
      <td>-10.208889</td>
      <td>-2.781422e-04</td>
      <td>0.010353</td>
      <td>0.002811</td>
      <td>0.015018</td>
      <td>0.015018</td>
      <td>0.015018</td>
      <td>6.205941</td>
    </tr>
    <tr>
      <th>16</th>
      <td>5.105741</td>
      <td>0.000166</td>
      <td>-5.103151</td>
      <td>-1.131805e-04</td>
      <td>0.002590</td>
      <td>0.000052</td>
      <td>0.007511</td>
      <td>0.007511</td>
      <td>0.007511</td>
      <td>3.103759</td>
    </tr>
    <tr>
      <th>17</th>
      <td>5.103085</td>
      <td>0.000098</td>
      <td>-5.100000</td>
      <td>-3.835731e-12</td>
      <td>0.003085</td>
      <td>0.000098</td>
      <td>0.007432</td>
      <td>0.007432</td>
      <td>0.007432</td>
      <td>5.233563</td>
    </tr>
    <tr>
      <th>18</th>
      <td>5.103106</td>
      <td>0.000103</td>
      <td>-5.100000</td>
      <td>-7.074921e-12</td>
      <td>0.003106</td>
      <td>0.000103</td>
      <td>0.007458</td>
      <td>0.007458</td>
      <td>0.007458</td>
      <td>5.251930</td>
    </tr>
    <tr>
      <th>19</th>
      <td>5.103121</td>
      <td>0.000106</td>
      <td>-5.100000</td>
      <td>-1.006943e-11</td>
      <td>0.003121</td>
      <td>0.000106</td>
      <td>0.007475</td>
      <td>0.007475</td>
      <td>0.007475</td>
      <td>5.264187</td>
    </tr>
    <tr>
      <th>20</th>
      <td>5.103133</td>
      <td>0.000109</td>
      <td>-5.100000</td>
      <td>-1.314385e-11</td>
      <td>0.003133</td>
      <td>0.000109</td>
      <td>0.007489</td>
      <td>0.007489</td>
      <td>0.007489</td>
      <td>5.274039</td>
    </tr>
    <tr>
      <th>21</th>
      <td>5.103142</td>
      <td>0.000111</td>
      <td>-5.100000</td>
      <td>-1.544812e-11</td>
      <td>0.003142</td>
      <td>0.000111</td>
      <td>0.007500</td>
      <td>0.007500</td>
      <td>0.007500</td>
      <td>5.281455</td>
    </tr>
    <tr>
      <th>22</th>
      <td>5.103148</td>
      <td>0.000112</td>
      <td>-5.100000</td>
      <td>-1.815659e-11</td>
      <td>0.003148</td>
      <td>0.000112</td>
      <td>0.007507</td>
      <td>0.007507</td>
      <td>0.007507</td>
      <td>5.286818</td>
    </tr>
    <tr>
      <th>23</th>
      <td>5.103151</td>
      <td>0.000113</td>
      <td>-5.100000</td>
      <td>-1.904379e-11</td>
      <td>0.003151</td>
      <td>0.000113</td>
      <td>0.007511</td>
      <td>0.007511</td>
      <td>0.007511</td>
      <td>5.289504</td>
    </tr>
  </tbody>
</table>
</div>

In [10]:
network_model.net.res_sgen # we set these to zero as an option in the instantiation

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>p_kw</th>
      <th>q_kvar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
  </tbody>
</table>
</div>

### Fake test data

In [11]:
num_times = 24
p_load_data = np.random.randn(network_model.net.load.shape[0],num_times)
q_load_data = np.random.randn(network_model.net.load.shape[0],num_times)

## Add generators

In [12]:
# Add static generators at bus 7 and at bus 10 and initialize their real power production as 1 kW
network_model.add_sgen(7,1.0) 
network_model.add_sgen(10,1.0)

In [13]:
network_model.net.sgen

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>bus</th>
      <th>p_kw</th>
      <th>q_kvar</th>
      <th>sn_kva</th>
      <th>scaling</th>
      <th>in_service</th>
      <th>type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>None</td>
      <td>8</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
      <td>1.0</td>
      <td>True</td>
      <td>None</td>
    </tr>
    <tr>
      <th>1</th>
      <td>None</td>
      <td>9</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
      <td>1.0</td>
      <td>True</td>
      <td>None</td>
    </tr>
    <tr>
      <th>2</th>
      <td>None</td>
      <td>11</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
      <td>1.0</td>
      <td>True</td>
      <td>None</td>
    </tr>
    <tr>
      <th>3</th>
      <td>None</td>
      <td>22</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
      <td>1.0</td>
      <td>True</td>
      <td>None</td>
    </tr>
    <tr>
      <th>4</th>
      <td>None</td>
      <td>23</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
      <td>1.0</td>
      <td>True</td>
      <td>None</td>
    </tr>
    <tr>
      <th>5</th>
      <td>None</td>
      <td>7</td>
      <td>1</td>
      <td>0</td>
      <td>NaN</td>
      <td>1.0</td>
      <td>True</td>
      <td>None</td>
    </tr>
    <tr>
      <th>6</th>
      <td>None</td>
      <td>10</td>
      <td>1</td>
      <td>0</td>
      <td>NaN</td>
      <td>1.0</td>
      <td>True</td>
      <td>None</td>
    </tr>
  </tbody>
</table>
</div>

# Add battery

In [14]:
# Initialize at bus 3 with power flow 1.0 (charging), capacity 10 kWh, initialy SOC 0 %
network_model.add_battery(3,1.0,10,0.0)

In [15]:
# How many batteries?
network_model.net.storage.shape[0]

1

In [16]:
network_model.net.storage

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>bus</th>
      <th>p_kw</th>
      <th>q_kvar</th>
      <th>sn_kva</th>
      <th>soc_percent</th>
      <th>min_e_kwh</th>
      <th>max_e_kwh</th>
      <th>scaling</th>
      <th>in_service</th>
      <th>type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>None</td>
      <td>3</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>10.0</td>
      <td>1.0</td>
      <td>True</td>
      <td>None</td>
    </tr>
  </tbody>
</table>
</div>

### Change the battery power

In [17]:
network_model.update_batteries(battery_powers=2*np.ones((network_model.net.storage.shape[0],)), dt=1)
network_model.net.storage

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>bus</th>
      <th>p_kw</th>
      <th>q_kvar</th>
      <th>sn_kva</th>
      <th>soc_percent</th>
      <th>min_e_kwh</th>
      <th>max_e_kwh</th>
      <th>scaling</th>
      <th>in_service</th>
      <th>type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>None</td>
      <td>3</td>
      <td>2.0</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>0.2</td>
      <td>0.0</td>
      <td>10.0</td>
      <td>1.0</td>
      <td>True</td>
      <td>None</td>
    </tr>
  </tbody>
</table>
</div>

## Update loads and run a powerflow

In [18]:
network_model.update_loads(p_load_data[:,0],q_load_data[:,0])

In [19]:
network_model.run_powerflow()

numba cannot be imported and numba functions are disabled.
Probably the execution is slow.
Please install numba to gain a massive speedup.
(or if you prefer slow execution, set the flag numba=False to avoid this warning!)

In [20]:
network_model.net.res_line

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>p_from_kw</th>
      <th>q_from_kvar</th>
      <th>p_to_kw</th>
      <th>q_to_kvar</th>
      <th>pl_kw</th>
      <th>ql_kvar</th>
      <th>i_from_ka</th>
      <th>i_to_ka</th>
      <th>i_ka</th>
      <th>loading_percent</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1.671724</td>
      <td>-1.272237</td>
      <td>-1.670228</td>
      <td>1.269417</td>
      <td>0.001496</td>
      <td>-0.002820</td>
      <td>0.003038</td>
      <td>0.003035</td>
      <td>0.003038</td>
      <td>1.125305</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1.670228</td>
      <td>-1.269417</td>
      <td>-1.669713</td>
      <td>1.269179</td>
      <td>0.000515</td>
      <td>-0.000238</td>
      <td>0.003035</td>
      <td>0.003035</td>
      <td>0.003035</td>
      <td>2.137570</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3.145229</td>
      <td>3.323651</td>
      <td>-3.141593</td>
      <td>-3.323989</td>
      <td>0.003636</td>
      <td>-0.000338</td>
      <td>0.006618</td>
      <td>0.006620</td>
      <td>0.006620</td>
      <td>2.451827</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2.373383</td>
      <td>4.171482</td>
      <td>-2.369377</td>
      <td>-4.171675</td>
      <td>0.004006</td>
      <td>-0.000193</td>
      <td>0.006947</td>
      <td>0.006949</td>
      <td>0.006949</td>
      <td>2.573639</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2.226374</td>
      <td>3.503736</td>
      <td>-2.223372</td>
      <td>-3.504314</td>
      <td>0.003001</td>
      <td>-0.000577</td>
      <td>0.006013</td>
      <td>0.006015</td>
      <td>0.006015</td>
      <td>2.227702</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1.417947</td>
      <td>3.190509</td>
      <td>-1.415821</td>
      <td>-3.191421</td>
      <td>0.002126</td>
      <td>-0.000912</td>
      <td>0.005060</td>
      <td>0.005062</td>
      <td>0.005062</td>
      <td>1.874961</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0.768210</td>
      <td>-0.847493</td>
      <td>-0.768057</td>
      <td>0.847208</td>
      <td>0.000153</td>
      <td>-0.000285</td>
      <td>0.001656</td>
      <td>0.001655</td>
      <td>0.001656</td>
      <td>1.165920</td>
    </tr>
    <tr>
      <th>7</th>
      <td>0.143003</td>
      <td>0.667939</td>
      <td>-0.142948</td>
      <td>-0.668236</td>
      <td>0.000055</td>
      <td>-0.000297</td>
      <td>0.000989</td>
      <td>0.000990</td>
      <td>0.000990</td>
      <td>0.697041</td>
    </tr>
    <tr>
      <th>8</th>
      <td>0.805425</td>
      <td>0.313805</td>
      <td>-0.805338</td>
      <td>-0.314097</td>
      <td>0.000088</td>
      <td>-0.000292</td>
      <td>0.001253</td>
      <td>0.001253</td>
      <td>0.001253</td>
      <td>0.882347</td>
    </tr>
    <tr>
      <th>9</th>
      <td>-0.083678</td>
      <td>1.460222</td>
      <td>0.083929</td>
      <td>-1.460493</td>
      <td>0.000251</td>
      <td>-0.000271</td>
      <td>0.002121</td>
      <td>0.002121</td>
      <td>0.002121</td>
      <td>1.493797</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1.462515</td>
      <td>4.596197</td>
      <td>-1.460450</td>
      <td>-4.596291</td>
      <td>0.002065</td>
      <td>-0.000094</td>
      <td>0.006976</td>
      <td>0.006977</td>
      <td>0.006977</td>
      <td>2.584099</td>
    </tr>
    <tr>
      <th>11</th>
      <td>1.013926</td>
      <td>5.484886</td>
      <td>-1.011162</td>
      <td>-5.484711</td>
      <td>0.002763</td>
      <td>0.000175</td>
      <td>0.008069</td>
      <td>0.008071</td>
      <td>0.008071</td>
      <td>2.989149</td>
    </tr>
    <tr>
      <th>12</th>
      <td>0.953250</td>
      <td>4.212345</td>
      <td>-0.951592</td>
      <td>-4.212594</td>
      <td>0.001658</td>
      <td>-0.000250</td>
      <td>0.006250</td>
      <td>0.006251</td>
      <td>0.006251</td>
      <td>2.315218</td>
    </tr>
    <tr>
      <th>13</th>
      <td>1.376985</td>
      <td>4.307779</td>
      <td>-1.375167</td>
      <td>-4.307967</td>
      <td>0.001819</td>
      <td>-0.000187</td>
      <td>0.006546</td>
      <td>0.006547</td>
      <td>0.006547</td>
      <td>2.424908</td>
    </tr>
    <tr>
      <th>14</th>
      <td>1.371745</td>
      <td>3.743916</td>
      <td>-1.370331</td>
      <td>-3.744258</td>
      <td>0.001414</td>
      <td>-0.000342</td>
      <td>0.005773</td>
      <td>0.005774</td>
      <td>0.005774</td>
      <td>2.138564</td>
    </tr>
    <tr>
      <th>15</th>
      <td>1.007038</td>
      <td>2.879960</td>
      <td>-1.006142</td>
      <td>-2.880538</td>
      <td>0.000896</td>
      <td>-0.000578</td>
      <td>0.004418</td>
      <td>0.004420</td>
      <td>0.004420</td>
      <td>1.826269</td>
    </tr>
    <tr>
      <th>16</th>
      <td>0.898548</td>
      <td>1.092111</td>
      <td>-0.898355</td>
      <td>-1.092939</td>
      <td>0.000193</td>
      <td>-0.000827</td>
      <td>0.002048</td>
      <td>0.002049</td>
      <td>0.002049</td>
      <td>0.846900</td>
    </tr>
    <tr>
      <th>17</th>
      <td>0.446524</td>
      <td>-0.888595</td>
      <td>-0.446408</td>
      <td>0.888305</td>
      <td>0.000116</td>
      <td>-0.000290</td>
      <td>0.001439</td>
      <td>0.001438</td>
      <td>0.001439</td>
      <td>1.013178</td>
    </tr>
    <tr>
      <th>18</th>
      <td>-0.262505</td>
      <td>1.798970</td>
      <td>0.262892</td>
      <td>-1.799224</td>
      <td>0.000387</td>
      <td>-0.000255</td>
      <td>0.002631</td>
      <td>0.002631</td>
      <td>0.002631</td>
      <td>1.853029</td>
    </tr>
    <tr>
      <th>19</th>
      <td>-0.425393</td>
      <td>-0.095185</td>
      <td>0.425415</td>
      <td>0.094883</td>
      <td>0.000022</td>
      <td>-0.000302</td>
      <td>0.000631</td>
      <td>0.000631</td>
      <td>0.000631</td>
      <td>0.444334</td>
    </tr>
    <tr>
      <th>20</th>
      <td>0.003422</td>
      <td>0.564051</td>
      <td>-0.003385</td>
      <td>-0.564350</td>
      <td>0.000037</td>
      <td>-0.000299</td>
      <td>0.000817</td>
      <td>0.000817</td>
      <td>0.000817</td>
      <td>0.575424</td>
    </tr>
    <tr>
      <th>21</th>
      <td>0.363292</td>
      <td>0.864298</td>
      <td>-0.363189</td>
      <td>-0.864589</td>
      <td>0.000103</td>
      <td>-0.000291</td>
      <td>0.001358</td>
      <td>0.001358</td>
      <td>0.001358</td>
      <td>0.956442</td>
    </tr>
    <tr>
      <th>22</th>
      <td>0.107594</td>
      <td>1.788426</td>
      <td>-0.107218</td>
      <td>-1.788682</td>
      <td>0.000376</td>
      <td>-0.000255</td>
      <td>0.002595</td>
      <td>0.002596</td>
      <td>0.002596</td>
      <td>1.827891</td>
    </tr>
    <tr>
      <th>23</th>
      <td>0.898355</td>
      <td>1.092939</td>
      <td>-0.898121</td>
      <td>-1.093212</td>
      <td>0.000235</td>
      <td>-0.000274</td>
      <td>0.002049</td>
      <td>0.002050</td>
      <td>0.002050</td>
      <td>1.443548</td>
    </tr>
  </tbody>
</table>
</div>

# Calculate the Reward

In [21]:
network_model.calculate_reward()
network_model.reward_val

0.0

# Key Documentation: 

https://pandapower.readthedocs.io/en/v1.6.0/elements.html